html {
  font-size: 0.625rem; /* 10px equivalent thanks to default of 16px */
  // font-family: 'Fira Sans', sans-serif;
  font-family: $helvetica;
  font-weight: 400;
  background: linear-gradient(to bottom, $color-background, $color-background-b);
  color: $color-text-primary;
  height: 100vh;

  * {
    box-sizing: border-box;
  }
}

body {
  font-size: 1.6rem; /* 16px equivalent */
  padding-bottom: 8rem;
}

h1 {
  font-weight: 400;
  font-style: italic;
  margin: 1.2rem 2.5rem 0 0;
  // color: $color-primary;
  visibility: hidden;
}

a {
  color: $color-link;
  text-decoration: none;
  transition: .35s ease all;
  text-shadow:  0 .1rem 0 rgba($color-shadow, 1),
                .1rem .1rem 0 rgba($color-shadow, 1),
                0 .2rem 0 rgba($color-shadow, 1),
                0 .2rem .8rem rgba(shade($color-shadow, 50%), .7);

  &:hover {
    color: $color-link-hover;
    transition: .1s ease all;
    text-shadow: 0 0 0 rgba($color-shadow, 0),
                  0 0 0 rgba($color-shadow, 0),
                  0 0 0 rgba($color-shadow, 0),
                  0 0 .2rem rgba($color-shadow, 0);
  }
}

button {
  cursor: pointer;
  transition: .35s ease all;
  &:hover {
    transition: .1s ease all;
  }
}



header {
  @include clearfix;
}




/**/
